# Database Configuration
# For local development (using Docker)
DATABASE_URL="postgresql://postgres:password@localhost:5432/boilerplate"
DIRECT_URL="postgresql://postgres:password@localhost:5432/boilerplate"

# For production (using Neon)
# DATABASE_URL="postgresql://username:password@ep-example.us-east-1.aws.neon.tech/neondb"
# DIRECT_URL="postgresql://username:password@ep-example.us-east-1.aws.neon.tech/neondb"

# API Configuration
API_URL="http://localhost:3001"
NEXT_PUBLIC_API_URL="http://localhost:3001"

# Node Environment
NODE_ENV="development"
PORT=3001 